/* CSS Variables */
:root {
	--green: rgb(163, 233, 206);
	--blue: rgb(110, 211, 217);
	--pink: rgb(234, 177, 178);
	--grey: rgb(83, 139, 138);
	--white: rgb(249, 245, 241);
	--black: rgb(1, 0, 1);
	--search: hsl(218, 92%, 95%);
}

/* ----------Whole page---------- */
.display {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* ----------Head---------- */
.header {
	position: relative;
	height: 30vh;
	box-shadow: -0.1rem -0.5rem 2rem 1rem var(--grey);
}

.header__title {
	margin: 0;
	padding: 7.5vh 1rem 1rem 1rem;
	text-align: center;
	font-size: 2rem;
	font-family: "Comfortaa", cursive;
	color: var(--black);
}

/* ----------Search Bar---------- */
.search-bar {
	position: absolute;
	bottom: 0;
	padding: 1rem 1rem 5vh 1rem;
	width: 100%;
	text-align: center;
}

#search-bar__input {
	box-sizing: border-box;
	width: 70%;
	height: 2rem;
	background-color: var(--search);
	border: none;
	border-radius: 1rem;
	padding-left: 2rem;
	font-size: 1.2rem;
	cursor: text;
}

.search-bar__btn {
	box-sizing: border-box;
	margin: 0;
	width: 2rem;
	height: 2rem;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	background-color: var(--blue);
}

.search-bar__btn:hover {
	background-color: var(--pink);
	transition: 0.4s;
}

/* ----------Loading sign---------- */
.loader {
	margin: 10% 5%;
	display: flex;
	justify-content: center;
}

.loader__value {
	font-size: 1.5rem;
	font-family: "Comfortaa", cursive;
	color: var(--grey);
	animation: loading 4s infinite;
}

@keyframes loading {
	0% {
		opacity: 1;
	}

	50% {
		color: var(--black);
		opacity: 0.5;
		transform: scale(1.025);
	}

	100% {
		opacity: 1;
	}
}


/* ----------Fetch Results --------- */
.card-container {
	padding: 1rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	font-family: "Comfortaa", cursive;
	background: linear-gradient(200deg, var(--green), var(--blue), var(--pink));
	box-shadow: 10rem 10rem 10rem var(--white);

}

.card-wrap {
	position: relative;
	margin: 1.5rem;
	padding: 1.5rem 2rem;
	border-radius: 1rem;
	overflow-wrap: break-word;
	background-color: white;
}

/* ----------Card information---------- */
.info__title {
	margin-bottom: 0.2rem;
	font-style: normal;
	font-size: 1.2rem;
}


.info__sub {
	font-style: italic;
	font-size: 0.8rem;
}

/* ----------Youtube and Reddit Icons---------- */
.icon-container {
	display: flex;
	justify-content: space-around;
}

.icon {
	font-size: 3rem;
	margin: 0.5rem;
	color: var(--pink);
}

.icon:hover {
	color: var(--grey);
	transition: 0.3s;
	transform: scale(1.1);
}